extends layout

block content
    div
        each user in users
            p=user.email
            p=user.staus
            - if(user.status == "active") {
                a(href="/admin/user/suspend/" + user.email)="Suspend"
            -} else {
                a(href="/admin/user/activate/" + user.email)="Activate"
            -}