extends layout.pug

block content
    div(class="bodyContent")
        h2(class="center")="Card List Below"
        hr
        div(class="cardListSwapButtons")
            each cardList in cards
                div(class="cardListSwapButton" onclick="toggleCardList(\"" + cardList.name + "\")" id=cardList.name cardData=cardList.cards)=cardList.name
                //- div( class="cardListContainer" )
                //-     each card in cardList.cards
                //-         div(class="cardContainer")
                //-             div(class="center")=card.name
                //-             hr
                //-             div(class="center")=card.description
                //-             div(class="cardImgContainer")
                //-                 img(src=card.img class="cardImg")
                //-             div(class="cardButtons")
                //-                 a(class="cardButton" href="/buy?card=" + card.id)="Trade"
        div(id="cardDisplay" class="cardListContainer")