extends layout.pug

block content
    if error
        p(class="text-red")=error
    div
        form(action="/login" method="post")
            p="Email: "
            input(id="email" name="email" type="text")
            p="Password: "
            input(id="password" name="password" type="password")
            br
            input(type="submit")
        a(href="/register")= "Register here"