extends layout.pug

block content
    div
        form(onsubmit="return login()" id="login")
            p="Username: "
            input(id="username" type="text")
            p="Password: "
            input(id="password" type="password")
            br
            input(type="submit")
        a(href="/register")= "Register here"