extends layout.pug

block content
    div
        form(onsubmit="return login()" id="login")
            p="Email: "
            input(id="email" name="email" type="text")
            p="Password: "
            input(id="password" name="password" type="password")
            br
            input(type="submit")
        a(href="/register")= "Register here"